:root {
  --主题色: rgb(103, 171, 255);
  --阴影: 0 2px 20px rgba(103, 171, 255, 0.3);
  --按钮-圆角: 15px;
  --主色调rgb: 103, 171, 255;
}


html,
body,
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  background-color: #ffffff;

  color: black;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -o-linear-gradient(rgba(var(--主色调rgb), 0.07) 1px,
      transparent 1px),
    -o-linear-gradient(left, rgba(var(--主色调rgb), 0.07) 1px, transparent 1px);
  background-image: linear-gradient(rgba(var(--主色调rgb), 0.07) 1px,
      transparent 1px),
    linear-gradient(90deg, rgba(var(--主色调rgb), 0.07) 1px, transparent 1px);
  background-size: 30px 30px;
}

* {
  -webkit-transition: 0.5s cubic-bezier(0.2, 0.84, 0, 1);
  -o-transition: 0.5s cubic-bezier(0.2, 0.84, 0, 1);
  transition: 0.5s cubic-bezier(0.2, 0.84, 0, 1);
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-moz-selection {
  background: var(--主题色);
  color: #fff;
}

*::selection {
  background: var(--主题色);
  color: #fff;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}


.头像 {
  background-color: #ffffff;
  will-change: filter;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  transition: filter 300ms;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 3px solid #ffffff;
  -webkit-filter: drop-shadow(0 0 2em rgba(65, 151, 255, 0.2));
  filter: drop-shadow(0 0 2em rgba(65, 151, 255, 0.2));
}

.头像:hover {
  -webkit-filter: drop-shadow(0 0 2em rgba(65, 151, 255, 0.533));
  filter: drop-shadow(0 0 2em rgba(65, 151, 255, 0.533));
}

.隐藏 {
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

.显示 {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background-color: #ffffff;
  background-image: linear-gradient(rgba(var(--主色调rgb), 0.7) 1px, transparent 1px), ;
  overflow: auto;
  overflow-x: hidden;
  padding: 30px 0;
}

.横线 {
  margin-top: 15px;
  width: 50px;
  height: 5px;
  background-color: var(--主题色);
  border-radius: 20px;
  margin-bottom: 20px;
}

#链接 .图标 {
  will-change: filter;
  -webkit-transition: -webkit-filter 300ms;
  transition: -webkit-filter 300ms;
  -o-transition: filter 300ms;
  transition: filter 300ms;
  transition: filter 300ms, -webkit-filter 300ms;
  transition: filter 300ms;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  border: 3px solid #ffffff;
  -webkit-filter: drop-shadow(var(--阴影));
  filter: drop-shadow(var(--阴影));
}

#项目 .图标 {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

h1 {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  color: var(--主题色);
}

h2 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--主题色);
}

button {
  color: #fff;
  border: none;
  -webkit-box-shadow: var(--阴影);
  box-shadow: var(--阴影);
  border-radius: var(--按钮-圆角);
  cursor: pointer;
  font-size: 17px;
  height: 50px;
  margin: 15px 0px;
  width: 210px;
  background-color: var(--主题色);
  -webkit-filter: brightness(1);
  filter: brightness(1);
  outline: none;
  -webkit-transition: 0.5s cubic-bezier(0.2, 0.84, 0, 1);
  -o-transition: 0.5s cubic-bezier(0.2, 0.84, 0, 1);
  transition: 0.5s cubic-bezier(0.2, 0.84, 0, 1);
}

button:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
  scale: 1.05;
}

button:active {
  scale: 0.95;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

.按钮组 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.按钮1 {
  background-color: var(--主题色);
  color: #fff;
}

.按钮2 {
  background-color: white;
  color: var(--主题色);
}

.icon {
  width: 40px;
  margin-right: 10px;
  fill: var(--主题色);
  -webkit-backdrop-filter: drop-shadow(0 0 10px var(--主题色));
  backdrop-filter: drop-shadow(0 0 10px var(--主题色));
}

.联系方式 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 20px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  font-size: 30px;
  cursor: pointer;
}

.卡片 {
  max-height: 280px;
  padding: 8vw 20px;
  margin: 25px;
  width: 100%;
  
  max-width: 300px;
  background-color: #fff;
  border-radius: 15px;

  -webkit-box-shadow: var(--阴影);

  box-shadow: var(--阴影);
  background-color: rgb(255, 255, 255);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  word-break: break-word;
  white-space: pre-wrap;
  cursor: pointer;
}

.卡片:hover {
  -webkit-filter: brightness(1.02);
  filter: brightness(1.02);
  -webkit-box-shadow: 0 0 5px var(--主题色);
  box-shadow: 0 0 5px var(--主题色);
}

.卡片:active {
  scale: 0.95;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}

#项目,
#链接 {
  padding: 0 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.内容 {
  z-index: 999;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#标签 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#标签 span {
  -webkit-box-shadow: var(--阴影);
  box-shadow: var(--阴影);
  padding: 8px 15px;
  margin: 10px 15px;
  border-radius: 10px;
  background-color: #fff;
}

#标签 span:hover {
  scale: 1.1;
}

#介绍 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}